@import url("https://fonts.googleapis.com/css2?family=Exo&family=Inter:wght@500&family=Roboto+Mono&family=Roboto:wght@100;300;400;500;700&family=Ropa+Sans&display=swap");

/* ---------------------------------------------------------General Styling --------------------------------------------------------- */

$bg-color: #171717;
$dot-color: rgb(80, 74, 74);
$transparantLeft-color: transparent;

$dot-size: 1px;
$dot-space: 30px;

body {
  background: linear-gradient(
        90deg,
        $bg-color ($dot-space - $dot-size),
        transparent 1%
      )
      center,
    linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center,
    $dot-color;
  background-size: $dot-space $dot-space;
  font-family: "Roboto", sans-serif;
  color: white;
}
#bg {
  position: fixed;
  background: cover;
  background: linear-gradient(145deg, #171717 50%, #313131 115%);
  // background: linear-gradient(145deg, #131a2b 50%, #0e1b36 115%);
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: -2;
}

li {
  list-style: none;
}
.name {
  text-decoration: none;
  color: white;
}
a {
  text-decoration: none;
  color: white;
}
a:visited {
  text-decoration: none;
  color: white;
}
a:hover {
  color: #ff5733;
}
header {
  height: 5rem;
  align-items: center;
  position: fixed;
  z-index: 102;
  width: 100%;
  backdrop-filter: blur(6px);
}
nav {
  display: flex;
  float: right;
  height: 5rem;
  align-items: center;
  font-size: 1.1rem;
  padding-right: 10rem;
}
span {
  color: #ff5733;
  padding-right: 1rem;
}
.aboutMeLogo {
  display: flex;
}

/* ---------------------------------------------------------Smartphones (portrait and landscape) --------------------------------------------------------- */
// @media only screen and (min-device-width: 0px) {
.mainNavBar,
.accentLineRight,
.accentLineLeft,
.emailLink,
.socialIconList,
.aboutMeLogo,
.summary,
.projectDescription1,
.number,
.projectSubText,
.projectsTitle,
.intro,
.pictureOfMe,
#forList {
  display: none;
}
/* Accent Lines on the right */
.accentLineRight {
  border-left: 3px solid #ff5733;
  height: 130px;
  position: fixed;
  bottom: 0;
  right: 55px;
}
/* Accent Lines on the left */
.accentLineLeft {
  border-left: 3px solid #ff5733;
  height: 130px;
  position: fixed;
  bottom: 0;
  left: 55px;
}
//styling for the section divides
hr.new4 {
  border: 1px solid #ff5733;
}
/* Text box for my email on the left side */
.emailLink {
  letter-spacing: 0.4rem;
  color: #ff5733;
  position: fixed;
  height: 20px;
  bottom: 320px;
  left: -90px;
  transform: rotate(-90deg);
}
/* Placement for the accented list of social icons */
.socialIconList {
  position: fixed;
  bottom: 8rem;
  right: 31.5px;
  margin: 0px;
  padding: 0px;
}
/* Styles for each logo on the right side */
.socialIcons {
  padding-bottom: 4em;
}
/* ----------- Home Component ----------- */
.home {
  min-height: 3vh;
  text-align: center;
}
/* Align text center for mobile users */
.container {
  text-align: center;
}
/* Style the first box */
.slimShady {
  letter-spacing: 0rem;
  font-size: 1rem;
  margin: 0;
}
/* Style my name! */
.name {
  font-size: 3.8rem;
  color: #ff5733;
  margin: 0;
}
/* Style the tagline(find a better one) */
.tagline {
  font-size: 1.5rem;
  margin: 0;
}
/* Mobile summary styling */
.summaryMobile {
  font-size: 1.1rem;
  line-height: 2rem;
  color: rgb(153, 152, 152);
  margin: 0px;
  text-align: center;
  margin-top: 1rem;
}
/* ----------- Projects Component ----------- */
.date {
  right: 0px;
  top: -8px;
  letter-spacing: 1.9rem;
  color: #ff5733;
  font-weight: 700;
}
#container {
  height: auto;
  width: auto;
  position: relative;
  padding-bottom: 3rem;
}
.projectImage {
  width: 380px;
  height: 210px;
  border-left-style: solid;
  border-top-style: solid;
  border-color: #ff5733;
}
.projBox {
  position: absolute;
  z-index: 100;
  width: 360px;
  height: 80px;
  right: 30px;
  bottom: -10px;
  backdrop-filter: blur(80px);
  border-bottom-style: solid;
  border-right-style: solid;
  border-color: white;
}
.projectDescriptionMobile {
  position: relative;
  font-size: 1rem;
  line-height: 1.4rem;
  margin: 0.3rem;
  text-align: left;
}
.projectButtons {
  position: absolute;
  right: 0rem;
  bottom: -5rem;
}
.projectSpacing {
  padding-top: 0rem;
  padding-bottom: 6rem;
}
.button-3 {
  margin: 2em;
}
/* ----------- About Me Component ----------- */
.intro,
.body,
.ending {
  font-size: 1.1rem;
  line-height: 1.6rem;
  color: rgb(153, 152, 152);
}
/* ----------- Contact Component ----------- */
.contactMeBody {
  font-size: 1.1rem;
  line-height: 2rem;
}
/* Adjusting the email icon */
.emailSection {
  padding-top: 4rem;
  text-align: center;
}
/* ----------- Grid Layout for mobile ----------- */
.mainContent {
  padding-left: 20px;
  padding-right: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5fr;
  grid-gap: 10px;
  max-width: 490px;
  margin: 0 auto;
}
.homeGrid {
  padding-top: 6rem;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.projectsGrid {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
.aboutGrid {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}
.contactGrid {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
  padding-bottom: 3rem;
}
/* ---------------------------------------------------------iPads (portrait and landscape) --------------------------------------------------------- */
@media only screen and (min-width: 768px) {
  .mainNavBar,
  .accentLineRight,
  .accentLineLeft,
  .emailLink,
  .aboutMeLogo,
  .socialIconList,
  .summary,
  .projectDescription1,
  .number,
  .projectSubText,
  .projectsTitle,
  .intro,
  #forList {
    display: unset;
  }
  //Display full sized summary and components
  .aboutMeLogo,
  .summaryMobile {
    display: none;
  }
  //Title font size
  .projectsTitle,
  .contactMeTitle,
  .aboutMeTitle {
    font-size: 2.5rem;
  }
  /* Styling for the main navbar */
  .mainNavBar {
    display: inline;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  // Align text left for tablet design
  .container {
    text-align: left;
  }
  /* General settings for the main Home component */
  .home {
    min-height: 100vh;
    margin-top: 35vh;
    margin-bottom: -30vh;
    text-align: left;
  }
  /* Style the first box */
  .slimShady {
    font-size: 1.3rem;
  }
  /* Style my name! */
  .name {
    font-size: 5.1rem;
  }
  /* Style the tagline(find a better one) */
  .tagline {
    font-size: 2.5rem;
  }
  /* ----------- Projects Component ----------- */
  #container {
    height: auto;
    width: auto;
    position: relative;
  }
  .projectTitle {
    font-size: 2.2rem;
    line-height: 2rem;
    transform: skew(-15deg);
  }
  .projectImage {
    // position: absolute;
    left: 0px;
    width: 550px;
    height: 350px;
  }
  .projBox {
    position: absolute;
    z-index: 100;
    width: 450px;
    height: 220px;
    right: 0px;
    top: 60px;
    backdrop-filter: blur(80px);
    border-width: 1px;
    font-weight: 400;
  }
  .projectDescriptionMobile {
    position: relative;
    font-size: 1rem;
    line-height: 1.6rem;
    margin: 1rem;
  }
  .projectDescription1 {
    position: absolute;
    font-size: 1rem;
    line-height: 1.6rem;
    margin: 1rem;
    margin-top: -10px;
    color: #bebebe;
    text-align: center;
  }
  .projectButtons {
    position: absolute;
    right: 3rem;
    bottom: 3.5rem;
  }
  .button-3 {
    margin: 2em;
  }
  .projectSpacing {
    padding-bottom: 0rem;
  }
  /* ----------- About Me Component ----------- */
  //Resizing for the About me section as a whole
  .aboutMe {
    min-height: 100vh;
    margin-top: 20vh;
  }
  /* Settings for the product logos, HTML JSS etc. */
  .aboutMeLogo {
    display: inline;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  /* Add some padding between the paragraphs and the logos */
  .aboutMeLogoList {
    padding: 0px;
    margin: 0 auto;
    text-align: center;
    margin-top: 2rem;
  }
  //General font settings for text
  .summary,
  .intro,
  .body,
  .ending,
  #forList {
    font-size: 1.3rem;
    line-height: 2rem;
    color: rgb(153, 152, 152);
  }
  /* ----------- Contact Component ----------- */
  //center the contact section for tablets still
  .contactMeBody {
    text-align: center;
    font-size: 1.3rem;
    line-height: 2rem;
  }
  /* ----------- Grid Layout adjustment for tablet ----------- */
  .mainContent {
    padding-left: 100px;
    padding-right: 100px;
    max-width: 680px;
  }
  .contactGrid {
    padding-top: 4rem;
    padding-bottom: 12rem;
  }
  .homeGrid {
    padding-top: 0px;
  }
}

/* ---------------------------------------------------------Desktops and Laptops (portrait and landscape) --------------------------------------------------------- */
@media only screen and (min-width: 1024px) {
  //Title font size
  .projectsTitle,
  .contactMeTitle,
  .aboutMeTitle {
    font-size: 3rem;
  }
  /* General settings for the main Home component */
  .home {
    min-height: 100vh;
    margin-top: 30vh;
    margin-bottom: -30vh;
    text-align: left;
  }
  /* Style my name! */
  .name {
    font-size: 6rem;
    margin: 0;
  }
  /* Style the tagline(find a better one) */
  .tagline {
    font-size: 2.5rem;
    margin: 0;
  }
  /* Stlye the summary (also make a better one) */
  .summary {
    font-size: 1.2rem;
    line-height: 2rem;
    max-width: 300px;
  }
  /* ----------- Projects Component ----------- */
  .date {
    position: absolute;
    right: 0px;
    top: -8px;
    letter-spacing: 1.9rem;
    color: #ff5733;
    font-weight: 700;
  }
  #container {
    height: auto;
    width: auto;
    // position: relative;
  }
  .projBox {
    position: absolute;
    right: 0px;
    top: 40px;
  }
  .projectImage {
    // position: absolute;
    // right:0px;
    width: 550px;
    height: 350px;
  }
  .projectButtons {
    position: absolute;
    right: 1.5rem;
    bottom: 3rem;
  }
  .button-3 {
    margin: 2em;
  }
  /* ----------- About Me Component ----------- */
  .intro,
  .body,
  .ending,
  #forList {
    font-size: 1.3rem;
    line-height: 2rem;
  }
  .contactMeBody {
    font-size: 1.3rem;
    line-height: 2rem;
  }
  /* Settings for the product logos, HTML JSS etc. */
  .aboutMeLogo {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  /* Add some padding between the paragraphs and the logos */
  .aboutMeLogoList {
    padding-top: 3rem;
  }
  /* ----------- Contact Me Component ----------- */
  .contactMeTitle,
  .contactMeBody {
    padding-top: 40px;
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
  }
  /* ----------- Grid Layout for Laptop/Desktop ----------- */
  .mainContent {
    padding-left: 100px;
    padding-right: 100px;
    max-width: 900px;
  }
}
