@import url("https://fonts.googleapis.com/css2?family=Exo&family=Inter:wght@500&family=Roboto+Mono&family=Roboto:wght@100;300;400;500;700&family=Ropa+Sans&display=swap");

/* Give some padding around the main content of the page */
.mainContent {
  padding-left: 100px;
  padding-right: 100px;
}

/* Navigation Bar Settings */

header {
  padding: 0px 40px;
  /* background-color: black; */
  height: 8rem;
  align-items: center;
  position: relative;
  z-index: 102;
}
/* Placement for the accented list of social icons */
.social {
  position: fixed;
  bottom: 6rem;
  right: 31.5px;
}
/* Styles for each logo on the right side */
#social {
  display: block;
  padding-bottom: 4em;
}
#resumeButton{
  list-style:none;
  position: fixed;
  top: 2.5rem;
  left: 34px;
}
a {
  text-decoration: none;
  color: white;
}
a:visited {
  text-decoration: none;
  color: white;
}
a:hover {
  color: #ff5733;
}
nav {
  display: flex;
  float: right;
  height: 8rem;
  align-items: center;
}
/* Styling for the main navbar */
.mainNavBar {
  display: inline;
  padding-left: 2rem;
  padding-right: 2rem;
}
/* Color the numbers differently infront of section titles */
.number {
  color: #ff5733;
  padding-right: 1em;
}

/* Settings for the page accents and social logos */

/* Accent Lines on the right */
.vlRight {
  border-left: 3px solid #ff5733;
  height: 130px;
  position: fixed;
  bottom: 0;
  right: 55px;
}
/* Accent Lines on the left */
.vlLeft {
  border-left: 3px solid #ff5733;
  height: 130px;
  position: fixed;
  bottom: 0;
  left: 55px;
}
/* Text box for my email in the side */
.emailLink {
  letter-spacing: 0.4rem;
  color: #ff5733;
  position: fixed;
  height: 20px;
  bottom: 320px;
  left: -90px;
  transform: rotate(-90deg);
}

/* Setting for the Main Home page */

/* General settings for the main Home component */
.home {
  min-height: 100vh;
  margin: 0px auto;
  align-content: center;
  margin-top: 12vh;
  margin-bottom: -20vh;
  max-width: 1500px;
}
/* Style the first box */
.slimShady {
  letter-spacing: 0.2rem;
  font-size: 1rem;
  margin: 0;
}
/* Style my name! */
.name {
  font-size: 6rem;
  color: #ff5733;
  margin: 0;
}
/* Style the tagline(find a better one) */
.tagline {
  font-size: 3rem;
  margin: 0;
  max-width: 730px;
}
/* Stlye the summary (also make a better one) */
.summary {
  font-size: 1rem;
  line-height: 25px;
  max-width: 540px;
  color: rgb(153, 152, 152);
}

/* Setting for the About Me component */

/* General settings for the About Me component */
.aboutMe,
.contactMe {
  padding-bottom: 20vh;
}
.resumeImage {
  padding-top:1px;
  /* filter: sepia(100%) saturate(300%) brightness(70%) hue-rotate(180deg); */
  filter: blur(5px);
  /* filter: brightness(0.4); */
  /* filter: contrast(200%); */
  /* filter: drop-shadow(8px 8px 8px #ff5733); */
  /* filter: grayscale(50%); */
  /* filter: hue-rotate(90deg); */
  /* filter: invert(75%); */
  /* filter: opacity(25%); */
  /* filter: saturate(30%); */
  /* filter: sepia(60%); */
}

.intro{
  font-size: 1rem;
  line-height: 30px;
  margin:0px;
}
.body,
.ending {
  font-size: 1rem;
  line-height: 30px;
  max-width: 590px;
}
.aboutMeLogo {
  display: inline;
  padding-left: 2rem;
  padding-right: 2rem;
  /* margin:0 auto; */
}
.aboutMeLogoList {
  padding-top: 3rem;
  text-align: left;
}
.column {
  float: left;
  width: 50%;
}
.left {
  width: 200px;
}

.right {
  width: 330px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.columnProject {
  float: left;
  width: 50%;
}
.leftProject {
  width: 260px;
}
.projectImageRound{
  border-radius: 15px 50px;
  /* background: #73AD21; */
  /* padding: 20px; 
  width: 200px;
  height: 150px;  */
  filter: drop-shadow(8px 8px 8px #000000);
}
.rightProject {
  min-width: 285px;
  max-width: 340px;
}
.rowProject:after {
  content: "";
  display: table;
  clear: both;
}
.projectSpacing{
  padding-bottom:55px;
}
.projectSubText{
  padding-bottom:2rem;
}
.projectDescripton{
  padding-left:30px;
  margin:0;
  font-size:14px;
  color: rgb(153, 152, 152);
}
.projectTitle{
font-size:2rem;
transform: skew(-15deg);
}
/* .contactMeTitle {
} */
.contactMeBody {
  /* text-align:center; */
  font-size: 1rem;
  line-height: 30px;
  max-width: 640px;
}

/*
 * Author: http://stuffandnonsense.co.uk/blog/about/hardboiled_css3_media_queries/
 */

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* Styles */
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */
}
