@import url("https://fonts.googleapis.com/css2?family=Exo&family=Inter:wght@500&family=Roboto+Mono&family=Roboto:wght@100;300;400;500;700&family=Ropa+Sans&display=swap");

body {
  /* background: linear-gradient(to right, #171717, #171717, #28282B); */
  background-color: #171717;
  /* background-color: #FF5733; */
  font-family: "Roboto", sans-serif;
  /* Font color */
  color: white;
}

.mainContent {
  padding-left: 10rem;
  padding-right: 10rem;
}

/* Nav */

header {
  padding: 0px 40px;
  /* background-color: black; */
  height: 8rem;
  align-items: center;
}
.social {
  position:fixed;
     bottom:6rem;
     right: 2.5rem;
}
#social{
  display:block;
  padding-bottom:4em;
}
nav {
  display: flex;
  float: right;
  height: 8rem;
  align-items: center;
}
li {
  display: inline;
  padding-left: 2rem;
  padding-right: 2rem;
}
.number{
  color: #FF5733;
  padding-right:1em;
}
.vlRight {
  border-left: 3px solid #FF5733;
  height: 130px;
  position:fixed;
     bottom:0;
     right: 93px;
}
.vlLeft {
  border-left: 3px solid #FF5733;
  height: 130px;
  position:fixed;
     bottom:0;
     left: 95px;
}
.emailLink{
  /* border-left: 6px solid #FF5733; */
  letter-spacing: .4rem;
  color: #FF5733;
  height: 110px;
  position:fixed;
  margin:0px;
  padding:0px;
     bottom:280px;
     left: -8px;
     transform: rotate(-90deg);
}
/* Home */

.home {
  min-height: 100vh;
  margin: 0px auto;
  align-content: center;
  margin-top: 12vh;
  margin-bottom: -20vh;
  max-width: 1500px;
}
.slimShady {
  font-size: 1rem;
  color: rgb(255, 255, 255);
}
.name {
  font-size: 5rem;
  color: #FF5733;
  /* color: rgb(207, 136, 3); */
  margin: 0;
  /* color: #FF5733; */
}
.tagline {
  font-size: 1rem;
  color: rgb(255, 255, 255);
}
.summary {
  font-size: 1rem;
  line-height: 25px;
  max-width: 540px;
}

/* About Me */
.aboutMe{
align-items: right;
padding-bottom:20vh;
}
.intro {
  font-size: 1rem;
  line-height: 30px;
  max-width: 540px;
}
.body, .ending  {
  font-size: 1rem;
  line-height: 30px;
}
